.btn {
  width: 260px;
  min-height: 52px;
  text-decoration: none;
  color: $font-base-color;
  display: block;
  text-transform: uppercase;
  padding: 0;

  &--main {
    border: 2px solid $color-gray;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding: 16px 86px;
  }

  &--arrow {
    border: 1px solid $color-gray-light;
    background-color: $bg-transperent;
    padding: 13px 42px 13px 38px;

    @include tablet {
      border: none;
      padding: 15px;
    }
  }

  &--arrow-rigth {
    transform: scaleX(-1);
  }

  &--hide {
    display: none;
  }

  &--grid {
    @include tablet {
      padding: 16px 26px;
      width: 175px;
      grid-area: btn;
    }
  }

  &--size {
    padding: 16px 40px;

    @include tablet {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &--center {
    @include tablet {
      margin: 0 auto;
    }

    @include desktop {
      margin-left: 1px;
      width: 230px;
    }
  }

  &--position {
    @include desktop {
      margin-left: 175px;
    }
  }
}
