.btn {
  width: 260px;
  min-height: 52px;
  text-decoration: none;
  color: $font-base-color;
  display: block;
  text-transform: uppercase;
  padding: 0;
  background-color: $color-white;

  &--main {
    border: 2px solid $color-light-black;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding: 16px 86px;
  }

  &--arrow {
    border: 1px solid $color-gray-light;
    background-color: $bg-transperent;
    padding: 13px 42px 13px 38px;

    @include tablet {
      border: none;
      padding: 15px;
    }
  }

  &--arrow-rigth {
    transform: scaleX(-1);
  }

  &--hide {
    display: none;
  }

  &--grid {
    @include tablet {
      padding: 16px 26px;
      width: 175px;
      grid-area: btn;
    }
  }

  &--size {
    padding: 16px 20px;

    @include tablet {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &--form {
    @include tablet {
      width: 230px;
    }

    @include desktop {
      margin-left: 175px;
    }
  }

  &--center {
    @include tablet {
      margin: 0 auto;
    }

    @include desktop {
      margin-left: 1px;
      width: 230px;
    }
  }

  &--play {
    position: absolute;
    top: 37px;
    left: 80px;
    width: 100px;
    height: 76px;
    border: none;
    background: $bg-transperent;

    @include tablet {
      top: 189px;
      left: 283px;
    }
  }

  &--video {
    padding: 16px 20px;
    width: 192px;
    margin: 0 auto 31px auto;

    @include tablet {
      width: 584px;
      margin-bottom: 46px;
      font-size: 17px;
      line-height: 16px;
    }

    @include desktop {
      width: 230px;
      margin-left: 0;
    }
  }

  &--position {
    @include desktop {
      margin-left: 175px;
    }
  }

  &--contact {
    @include desktop {
      position: absolute;
      bottom: 0;
    }
  }
}
