.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
  }

  @include desktop {
    flex-direction: row;
  }
}

.catalog-list__item {
  border: 1px solid $color-gray-light;
  margin-bottom: 30px;
  max-width: 400px;

  @include tablet {
    img {
      width: 335px;
      height: 335px;
    }

    margin-bottom: 53px;
    display: flex;
    flex-direction: row;
  }

  @include desktop {
    margin-right: 52px;
    max-width: 316px;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 316px;
      height: 462px;
    }

    flex-direction: column;
  }
}

.catalog-list__item-box {
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 27px;
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 56%;
    padding-right: 30px;
  }

  @include tablet {
    width: 100%;
  }
}

.catalog-list__item-prise-box {
  margin-top: 22px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include tablet {
    margin-top: 23px;
    margin-bottom: 25px;
  }
}

.catalog-list__item-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $font-heading-color;

  @include tablet {
    font-size: 20px;
  }
}

.catalog-list__item-description {
  font-size: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid $color-line;

  @include tablet {
    padding-bottom: 170px;
    font-size: 15px;
  }

  @include desktop {
    padding-bottom: 35px;
  }
}

.catalog-list__item-prise {
  line-height: 24px;
  font-weight: bold;
  color: $font-heading-color;
}

.catalog-list__item-order {
  text-decoration: none;
  color: $font-base-color;
}
