.contacts {
  margin-top: 45px;
  padding-top: 38px;

  @include tablet {
    padding-top: 0;
    margin-top: 140px;

    @include desktop {
      margin-top: 170px;
    }
  }

  img {
    margin-bottom: 30px;

    @include tablet {
      width: 668px;
      height: 457px;
      margin-bottom: 55px;
    }

    @include desktop {
      width: 527px;
      margin-bottom: 0;
    }
  }

  @include desktop {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.contacts__box {
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-top: 49px;
  }

  @include desktop {
    margin-bottom: 84px;
  }
}

.contacts__box-item {
  display: flex;
  margin-bottom: 30px;

  span {
    margin-right: 30px;
  }

  a {
    text-decoration: none;
    color: $color-gray;
  }

  address {
    font-style: normal;
    max-width: 150px;

    @include tablet {
      max-width: 210px;
    }
  }

  @include tablet {
    margin-right: 50px;
  }
}

.contacts__wrapper {
  @include desktop {
    display: flex;
  }
}

.contacts__map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
