.contacts {
  margin-top: 30px;

  @include desktop {
    position: relative;
    display: flex;
    flex-direction: column;

    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.contacts__box {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: column;
  }
}

.contacts__box-item {
  display: flex;

  span {
    margin-right: 30px;
  }

  address {
    font-style: normal;
    max-width: 150px;

    @include tablet {
      max-width: 210px;
    }
  }

  @include tablet {
    margin-right: 50px;
  }
}
