.form-order__options {
  position: relative;
  color: $font-additinal-color;
  display: block;
  line-height: 16px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;

  &::after {
    content: "";
    width: 200px;
    height: 1px;
    background-color: $font-additinal-color;
    display: block;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);

    @include tablet {
      display: none;
    }
  }

  &--type {
    margin-top: 29px;
    margin-bottom: 30px;

    @include tablet {
      margin: 0;
      margin-right: 103px;
    }

    @include desktop {
      margin-right: 63px;
      margin-left: 60px;
    }
  }

  &--color {
    margin-top: 25px;
    margin-bottom: 25px;

    @include tablet {
      margin: 0;
      margin-top: 66px;
      margin-right: 97px;
      margin-left: 50px;
    }

    @include desktop {
      margin-left: 110px;
      margin-right: 55px;
    }
  }

  &--name {
    margin-top: 7px;
    margin-bottom: 28px;

    @include tablet {
      margin: 0;
      margin-top: 67px;
      margin-right: 124px;
    }

    @include desktop {
      margin-left: 60px;
      margin-right: 74px;
      margin-top: 69px;
    }
  }

  &--line {
    margin-top: 34px;
    margin-bottom: 4px;

    @include tablet {
      margin: 0;
      margin-left: 50px;
    }

    @include desktop {
      margin-left: 97px;
    }
  }

  &--phone {
    @include tablet {
      margin-right: 105px;
      padding-top: 18px;
      padding-bottom: 19px;
    }

    @include desktop {
      margin-left: 112px;
      padding-top: 18px;
      padding-bottom: 18px;
      margin-right: 60px;
    }
  }

  &--add {
    margin-top: 34px;
    margin-bottom: 22px;

    @include tablet {
      margin: 0;
      margin-top: 19px;
      margin-right: 128px;
    }

    @include desktop {
      margin-left: 62px;
      margin-right: 74px;
    }
  }

  &--email {
    &::after {
      content: "";
      width: 182px;
      height: 1px;
      background-color: $font-additinal-color;
      display: block;
      position: absolute;
      top: 50%;
      left: 78px;
      transform: translateY(-50%);

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      margin-right: 79px;
      padding-top: 20px;
      padding-bottom: 17px;
      width: 92px;
    }

    @include desktop {
      width: 110px;
      margin-left: 112px;
      margin-right: 26px;
    }
  }
}

.form-order__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  &--checkbox {
    @include tablet {
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 35px;
    }

    @include desktop {
      flex-direction: row;
      padding-top: 48px;
      padding-bottom: 26px;
    }
  }

  &--text {
    @include tablet {
      margin-top: 48px;
      width: 100%;
    }
  }
}

.form-order__list-item {
  display: flex;
  flex-direction: column;
  position: relative;

  &--radio {
    margin-top: 8px;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 38px;
      margin-left: 45px;
      margin-top: -3px;
    }

    @include desktop {
      margin-bottom: 40px;
      margin-left: 30px;
    }

    &:last-child {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &--checkbox {
    margin-bottom: 25px;

    @include tablet {
      width: 41%;
      margin-left: 26px;
      margin-bottom: 25px;

      &:nth-child(5n),
      &:nth-child(6n) {
        margin-bottom: 15px;
      }
    }

    @include desktop {
      width: 26%;
      margin-left: 17px;
    }
  }

  &--text {
    @include tablet {
      margin-bottom: 3px;

      &:last-child {
        margin-bottom: 50px;
      }
    }

    @include desktop {
      margin-right: 175px;
    }
  }
}

.form-order__box {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    width: 100%;
  }

  &--phone {
    @include tablet {
      padding-top: 48px;
      padding-bottom: 21px;
    }
  }

  &--email {
    @include tablet {
      padding-bottom: 50px;
    }
  }

  &--add {
    @include tablet {
      position: relative;
      background-color: $color-white;
      padding-top: 51px;
    }
  }
}

.form-order__list-label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $font-heading-color;
  position: relative;
  min-height: 36px;
  width: 100%;

  input::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $color-black;
    opacity: 0.3;

    @include tablet {
      font-size: 19px;
    }
  }

  &--radio {
    padding-left: 61px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -10px;
      width: 40px;
      height: 40px;
      border: 2px solid $color-gray;
      border-radius: 50%;

      @include tablet {
        width: 52px;
        height: 52px;
        top: -16px;
        left: -16px;
      }
    }

    @include desktop {
      padding-left: 65px;
    }
  }

  &--checkbox {
    padding-left: 62px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 38px;
      height: 38px;
      border: 2px solid $color-gray;

      @include tablet {
        width: 52px;
        height: 52px;
      }
    }

    @include tablet {
      padding-top: 17px;
      padding-bottom: 16px;
      padding-left: 81px;
    }

    @include desktop {
      padding-top: 19px;
      padding-bottom: 14px;
    }
  }

  &--text {
    display: flex;
    flex-direction: column;

    input {
      border: none;
      border-bottom: 2px solid $color-black;
      padding-top: 19px;
      padding-bottom: 13px;
      width: 100%;
      outline: none;

      @include tablet {
        padding-left: 20px;
      }

      &:hover,
      &:focus {
        border-bottom: 2px solid $color-tiffany;
      }

      &:hover + svg,
      &:focus + svg {
        fill: $color-tiffany;
        opacity: 1;
      }
    }

    @include tablet {
      flex-direction: row;
      width: 100%;

      span {
        padding-top: 18px;
        padding-bottom: 16px;
        padding-right: 24px;

        @include desktop {
          padding-bottom: 17px;
        }
      }
    }
  }

  &--text-pad {
    @include tablet {
      input {
        margin-top: 15px;
      }
    }
  }

  &--phone-mail {
    @include tablet {
      input {
        padding-left: 17px;
        padding-top: 16px;
        padding-bottom: 15px;
      }
    }
  }

  &--right-side {
    @include tablet {
      margin-right: 50px;
      margin-left: 30px;
    }

    @include desktop {
      margin-right: 225px;
      margin-left: 20px;
    }
  }

  &--background {
    @include tablet {
      input {
        background-color: $bg-dark-white;
      }
    }
  }

  textarea {
    min-width: 260px;
    min-height: 142px;
    border: 2px solid $color-gray;
    padding: 17px;
    outline: none;
    resize: none;
    width: 100%;

    @include tablet {
      min-width: 500px;
      min-height: 142px;
      padding: 14px;
      margin-bottom: 50px;
    }

    @include desktop {
      width: 700px;
      margin-bottom: 46px;
    }

    &:hover {
      border: 2px solid $color-tiffany;
    }

    &:focus {
      border: 2px solid $color-tiffany;
    }
  }

  @include tablet {
    font-size: 19px;
  }
}

.form-order__list--radio input:hover + label::before,
.form-order__list--radio input:focus + label::before,
.form-order__list--checkbox input:hover + label::before,
.form-order__list--checkbox input:focus + label::before {
  border-color: $color-tiffany;
}

.form-order__list--radio input:active + label::before {
  border-color: $color-gray-light;
}

.form-order__list--checkbox input:active + label::before {
  border-color: $color-gray;
  opacity: 0.3;
}

.form-order__list--radio input:checked + label::before {
  box-shadow: inset 0 0 0 10px $bg-white, inset 0 0 20px 20px $bg-tiffany;
  outline: none;

  @include tablet {
    box-shadow: inset 0 0 0 14px $bg-white, inset 0 0 20px 20px $bg-tiffany;
  }
}

.form-order__list--checkbox input:disabled + label,
.form-order__list--radio input:disabled + label::before {
  opacity: 0.2;
  pointer-events: none;
}

.form-order__list--checkbox input:checked:disabled + label,
.form-order__list--radio input:disabled:checked + label::before {
  opacity: 0.2;
  pointer-events: none;
}

.form-order__list--checkbox input:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 14px;
    width: 11px;
    height: 20px;
    transform: skewX(6deg) rotate(48deg);

    border-bottom: 2px solid $color-black;
    border-right: 2px solid $color-black;

    @include tablet {
      top: 7px;
      left: 17px;
      width: 17px;
      height: 30px;
      transform: skewX(-3deg) rotate(44deg);
    }
  }
}

.form-order__list-label-svg {
  position: absolute;
  fill: $color-black;
  opacity: 0.2;

  &--phone {
    right: 7px;
    top: 11px;

    @include tablet {
      right: 26px;
      top: 12px;
    }

    @include desktop {
      right: 9px;
      top: 12px;
    }
  }

  &--email {
    right: 0;
    top: 11px;

    @include tablet {
      right: 22px;
      top: 12px;
    }

    @include desktop {
      right: 4px;
      top: 12px;
    }
  }
}

.form-order__list-item-span {
  margin-top: 21px;

  @include desktop {
    margin-top: 20px;
  }
}

.form-order__addition {
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-top: 17px;
  margin-bottom: 27px;

  @include tablet {
    right: 50px;
    font-size: 17px;
    line-height: 30px;
    margin-top: 14px;
  }

  @include desktop {
    left: 630px;
  }
}

.form-order__tablet-box {
  @include tablet {
    display: flex;
  }

  &--type {
    @include tablet {
      margin-top: 81px;
      margin-bottom: 50px;
    }

    @include desktop {
      margin-top: 80px;
      margin-bottom: 50px;
    }
  }
}

.form-order__background {
  @include tablet {
    background-color: $bg-dark-white;
  }
}

.form-order__downbox {
  @include tablet {
    display: flex;
    justify-content: space-between;

    span {
      order: 2;

      @include desktop {
        margin-right: 176px;
        margin-top: 14px;
      }
    }

    button {
      order: 1;
    }
  }
}
