.heading {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $font-heading-color;
  padding: 0;
  margin: 0;

  &--small {
    font-size: 18px;

    @include tablet {
      margin-top: 11px;
      margin-bottom: 26px;
    }
  }

  &--big {
    font-size: 27px;
  }

  &--bg {
    background-color: $bg-dark-white;
    padding: 73px 41px;
    text-align: center;
    z-index: -100;

    @include tablet {
      padding-top: 100px;
      padding-bottom: 87px;

      &::before {
        content: "";
        position: absolute;
        background-image: url("../img/svg/bg-zigzag-fill.svg");
        background-position: bottom;
        background-repeat: repeat-x;
        left: 0;
        bottom: 0;
        height: 24px;
        width: 100%;

        @include desktop {
          background-image: url("../img/svg/zigzag-fill-desktop-catalog.svg");
          height: 34px;
          bottom: -15px;
        }
      }
    }

    @include desktop {
      padding-bottom: 100px;
      margin-bottom: 124px;
    }
  }

  &--bg-from {
    padding: 72px 30px;

    @include tablet {
      padding-top: 100px;
      padding-bottom: 90px;
    }

    @include desktop {
      padding-bottom: 100px;
      margin-bottom: 114px;
    }
  }

  &--margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &--flag {
    @include tablet {
      &::after {
        content: "";
        background-image: url("../img/svg/icon-flag.svg");
        width: 47px;
        height: 81px;
        position: absolute;
        top: -20px;
        right: 4px;

        @include desktop {
          left: -111px;
        }
      }
    }
  }

  &--grid {
    @include tablet {
      grid-area: hd;
      margin-top: 23px;
    }
  }

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }

  &--video {
    font-size: 17px;
    line-height: 24px;
    padding: 23px 0;

    @include tablet {
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 25px;
    }

    @include desktop {
      max-width: 170px;
      margin-left: 81px;
    }
  }
}
