.heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $font-heading-color;
  padding: 0;
  margin: 0;

  &--small {
    font-size: 18px;
  }

  &--big {
    font-size: 27px;
  }

  &--bg {
    background-color: $bg-dark-white;
    padding: 73px 42px;
    text-align: center;
  }

  &--margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }

  &--review {
    @include tablet {
      order: 0;
    }
  }
}
