.main-nav--hide {
  display: none;
}

.main-nav {
  ul {
    align-self: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    height: 79px;

    @include tablet {
      height: 89px;
    }
  }

  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__main-list,
.main-nav__help-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.main-nav__main-item,
.main-nav__help-item {
  display: flex;
  padding-left: 50px;
  padding-right: 20px;
  border-bottom: 1px solid $color-gray-light;

  a {
    display: flex;
    padding-top: 28px;
    padding-bottom: 26px;
    padding-right: 20px;
    padding-left: 26px;

    @include tablet {
      padding: 5px;
      padding-right: 0;
    }

    &:hover,
    &:focus {
      color: $text-hover__focus;
    }

    &:active {
      color: $text-active;
    }
  }

  @include tablet {
    padding: 0;
    border: none;
  }

  &--tablet {
    display: none;

    @include tablet {
      display: block;
      font-weight: normal;
      padding-top: 15px;
    }
  }

  &--desktop {
    display: none;

    @include desktop {
      display: block;
    }
  }
}

.main-nav__help-item-search {
  position: absolute;
  fill: $color-black;
  opacity: 0.2;
  top: 32px;
  left: 32px;

  &:hover,
  &:focus {
    fill: $color-tiffany;
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }

  @include tablet {
    top: 36px;
    left: 34px;
  }
}

.main-nav__help-item {
  @include tablet {
    height: 89px;
    align-items: center;
    padding-left: 78px;
    font-size: 17px;

    &:first-child {
      padding-left: 34px;
      padding-right: 18px;
      border-right: 1px solid $color-gray-light;
      border-left: 1px solid $color-gray-light;
      justify-content: flex-start;
    }
  }

  &--cart {
    position: relative;
    display: flex;

    svg {
      position: absolute;
      opacity: 0.2;
      top: 30px;
      left: 31px;

      @include tablet {
        top: 35px;
        left: 31px;
      }
    }
  }

  &--search {
    position: relative;


    @include tablet {
      a {
        width: 30px;
        height: 30px;
        padding: 15px;
        z-index: 2;
      }
    }
  }

  @include desktop {
    padding-left: 80px;
  }

  a:hover + svg,
  a:focus + svg {
    fill: $color-tiffany;
    opacity: 1;
  }

  a:active + svg {
    opacity: 0.3;
  }
}

.main-nav__main-item {
  a {
    @include tablet {
      padding: 19px 33px 25px 0;
    }

    @include desktop {
      padding-bottom: 19px;
      padding-right: 35px;
    }
  }

  &:nth-child(2n) {
    a {
      @include tablet {
        padding-right: 7px;
        padding-left: 4px;
      }

      @include desktop {
        padding-left: 35px;
      }
    }
  }

  &:nth-child(3n) {
    a {
      @include desktop {
        padding-right: 28px;
      }
    }
  }

  @include desktop {
    height: 89px;
    align-items: center;

    &:nth-child(1),
    &:nth-child(2) {
      font-size: 17px;
    }

    &:first-child {
      border-right: 1px solid $color-gray-light;
    }
  }

  &--catalog {
    pointer-events: none;
  }

  &--form {
    pointer-events: none;
  }
}

.main-nav__main-list {
  @include tablet {
    transform: translateY(89px);
    font-size: 15px;
    width: 47%;
  }

  @include desktop {
    transform: translateY(0);
    width: 40%;
  }
}

.main-nav__help-list {
  @include tablet {
    justify-content: flex-end;
    width: 53%;
  }

  @include desktop {
    width: 60%;
  }
}

.main-nav__help-item-span {
  @include tablet {
    display: none;
  }
}

.main-nav__help-item .main-nav__delivery-info {
  @include tablet {
    font-size: 15px;
    pointer-events: none;
    color: $font-base-color;
  }
}
