.page-footer {
  background-color: $bg-dark-white;
  margin-top: 40px;

  @include tablet {
    display: flex;
  }
}

.page-footer__list {
  list-style: none;
}

.page-footer__autor {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.page-footer__logo {
  display: none;

  @include tablet {
    display: block;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
  margin: 0 auto;

  span {
    margin-right: 20px;
  }
}
