.page-header {
  background-color: $bg-white;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @include tablet {
    border-bottom: 1px solid $color-gray-light;
    height: 89px;
  }

  a {
    text-decoration: none;
    color: $font-heading-color;
  }
}

.page-header__logo {
  display: flex;
  height: 89px;
  border-bottom: 1px solid $color-gray-light;

  picture {
    margin: 22px auto;

    @include tablet {
      margin: 0;
    }
  }

  @include tablet {
    position: absolute;
    left: 50px;
    top: 22px;
    border: none;

    img {
      width: 113px;
      height: 46px;
    }
  }

  @include desktop {
    left: 50%;
    transform: translateX(-50%);
    top: 10px;

    img {
      width: 149px;
      height: 72px;
    }
  }
}
