.services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 489px;
  font-style: normal;
  font-weight: bold;
  background-color: $bg-light-white;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -17%;
  z-index: -1;

  @include retina {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: auto 373px;
  }

  @include tablet {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center;

    @include retina {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: auto 746px;
    }
  }

  &::before {
    @include tablet {
      position: absolute;
      content: "";
      background-image: url("../img/svg/bg-zigzag-fill.svg");
      background-position: bottom;
      background-repeat: repeat-x;
      bottom: -10px;
      height: 24px;
      width: 100%;
      z-index: 99;
    }


    @include desktop {
      background-image: url("../img/svg/zigzag-fill-desktop.svg");
      height: 34px;
      bottom: -15px;
    }
  }
}

.services__slogan {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $font-heading-color;
  text-align: center;
  padding: 0;
  margin: 70px auto 120px auto;
  width: 300px;

  @include tablet {
    margin: 155px auto 372px auto;
    width: 530px;
    font-size: 43px;
    line-height: 50px;
    padding-right: 7px;
  }

  @include desktop {
    margin: 158px 175px 355px 175px;
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}

.services__list {
  position: relative;
  list-style: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  padding: 0;
  margin: 0 auto;
  width: 320px;

  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.services__list-item {
  width: 100%;

  @include tablet {
    width: 50%;
    display: flex;
  }
}

.services__list-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 103px;
  margin: 0;
  position: relative;
  background-color: $color-tiffany;

  color: $font-white-color;
  text-decoration: none;
  min-width: 100%;
  padding-left: 30px;
  padding-top: 23px;
  padding-bottom: 29px;

  @include tablet {
    padding-top: 18px;
    min-height: 119px;
    padding-right: 150px;
    padding-left: 37px;
    font-size: 20px;
    line-height: 30px;
  }

  @include desktop {
    padding-top: 18px;
  }

  &:hover,
  &:focus {
    @include tablet {
      transform: translateY(-5px);
      max-height: 108px;

      svg {
        opacity: 0.7;
      }
    }
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }

  svg {
    position: absolute;
    right: 36px;
    top: 20px;
    fill: $color-tiffany-icons;
    opacity: 0.5;

    @include tablet {
      top: 30px;
    }
  }
}

.services__list-link--even {
  background-color: $color-dark-tiffany;

  svg {
    right: 27px;

    @include tablet {
      right: 33px;
    }

    @include desktop {
      right: 35px;
    }
  }
}
