.social-list {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $color-line;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    margin: 30px 122px 0 122px;
  }

  @include desktop {
    border: none;
    margin-right: 312px;
    margin-left: 312px;
  }
}

.social-list__item {
  max-width: 25px;
  height: 82px;
  margin-right: 40px;
  align-items: center;
  margin-top: -4px;

  svg {
    fill: $color-social;
  }

  a {
    padding: 10px;
    text-decoration: none;
    color: $font-base-color;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    svg {
      fill: $social-hover;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
