.week-goods__week-product {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $font-additinal-color;
}

.week-goods__text {
  line-height: 24px;
}

.week-goods__table-col {
  line-height: 20px;
}

.week-goods__prise {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
