.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  &--np {
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  @include tablet {
    min-width: 768px;
  }

  @include desktop {
    min-width: 1150px;
    padding: 0 50px;
  }
}
