// base-color

$color-black:                 #000000;
$color-white:                 #ffffff;
$color-tiffany:               #63d1bb;
$color-dark-tiffany:          #56c3b2;
$color-gray:                  #444444;
$color-dark-white:            #f1f1f1;
$color-transperent:           rgba(0, 0, 0, 0);
$color-gray-light:            #ececec;
$color-light-white:           #f9f9f9;
$color-tiffany-icons:         #149080;
$color-line:                  #e5e5e5;
$color-social:                #231f20;
$modal-border:                rgba(68, 68, 68, 0.1);
$modal-border-hover:          rgba(68, 68, 68, 0.3);
$color-modal-border:          #c6c6c6;
$color-modal-boxshadow:       rgba(0, 1, 1, 0.25);

//effects

$text-hover__focus:           rgba(0, 0, 0, 0.6);
$text-active:                 rgba(0, 0, 0, 0.3);
$white-active:                rgba(255, 255, 255, 0.3);
$social-hover:                #46c1ae;
$catalog-hover:               rgba(0, 0, 0, 0.1);

// background-color

$bg-white:                      $color-white;
$bg-tiffany:                    $color-tiffany;
$bg-dark-tiffany:               $color-dark-tiffany;
$bg-dark-white:                 $color-dark-white;
$bg-transperent:                $color-transperent;
$bg-light-white:                $color-light-white;

// font

$font-base-color:               $color-gray;
$font-heading-color:            $color-black;
$font-additinal-color:          $color-tiffany;
$font-white-color:              $color-white;

$font-main:                     "Open sans", "Arial", sans-serif;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Viewports

$tablet-width:                  768px;
$desktop-width:                 1150px;
